@white: #ffffff;
@page-bc: #191A1B;
@ac: #434343;
@text1: #868e9e;
@text2: #6E7480;
@text3: #dadfe7;
@text4: #bdc9e0;
@text5: #969799;
@main1: #3295FB;
@main2: #ff82ac;
@main3: #EE0A24;
@main4: #D538DF;
@main5: #222426;
@main6: #6E7480;
@main7: #455a6499;
@main8: #2E3033;
@main9: #191C21;
@warning1: #fc8800;
@warning2: #F9BE3A;
@warning3: #ffd21e;
@red1: red;
@red2: #ca3b4c;
@green1: #3bb346;
@cyan1: #37d4cf;

.white {
  color: @white  !important;
}

.white-bc {
  background-color: @white  !important;
}

.bc {
  background-color: #fafafa !important;
}

.page-bc {
  background-color: @page-bc  !important;
}

.main1 {
  color: @main1  !important;
}

.main1-bc {
  background-color: @main1  !important;
}

.main2 {
  color: @main2  !important;
}

.main2-bc {
  background-color: @main2  !important;
}

.main3 {
  color: @main3  !important;
}

.main3-bc {
  background-color: @main3  !important;
}

.main4 {
  color: @main4  !important;
}

.main4-bc {
  background-color: @main4  !important;
}

.main5 {
  color: @main5  !important;
}

.main5-bc {
  background-color: @main5  !important;
}

.main6 {
  color: @main6  !important;
}

.main6-bc {
  background-color: @main6  !important;
}

.main7 {
  color: @main7  !important;
}

.main7-bc {
  background-color: @main7  !important;
}

.main8 {
  color: @main8  !important;
}

.main8-bc {
  background-color: @main8  !important;
}

.main9 {
  color: @main9  !important;
}

.main9-bc {
  background-color: @main9  !important;
}

.warning1 {
  color: @warning1  !important;
}

.warning2 {
  color: @warning2  !important;
}

.warning3 {
  color: @warning3  !important;
}

.red1 {
  color: @red1  !important;
}

.red2 {
  color: @red2  !important;
}

.green1 {
  color: @green1  !important;
}

.cyan1 {
  color: @cyan1  !important;
}
